<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="BeforeAndAfterTest1">
    <classes>
     
        <class name="Day36BeforeTestAndAfterTest.Test3"/>
         <class name="Day36BeforeTestAndAfterTest.Test1"/>
       <class name="Day36BeforeTestAndAfterTest.Test2"/>
    </classes>
  </test>
    <test thread-count="5" name="BeforeAndAfterTest2">
    <classes>
     
        <class name="Day36BeforeTestAndAfterTest.Test3"/>
         <class name="Day36BeforeTestAndAfterTest.Test1"/>
       <class name="Day36BeforeTestAndAfterTest.Test2"/>
    </classes>
  </test> <!-- BeforeAndAfterTest -->
</suite> <!-- Suite -->
